@model Vidly.ViewModels.IndexMovieViewModel 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@**
    Shows all of the movies from the current data set
*@


@{ 
    var hasMovies = (Model.Movies.Count > 0);
}

<h1>Movies</h1>

@if (hasMovies)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Movie</th>
                <th>Genre</th>
            </tr>
        </thead>
        @foreach (var movie in Model.Movies) 
        {
               <tr>
                   <td>
                       @Html.ActionLink(movie.Name, "Details", "Movies", new { ID = movie.ID }, null)
                   </td>
                   
                   @switch (movie.Genre.ID)
                   {
                        case 1:
                            <td>Comedy</td>
                            break;
                        case 2:
                            <td>Action</td>
                            break;
                        case 3:
                           <td>Family</td>
                           break;
                        case 4:
                           <td>Romance</td>
                           break;
                        default:
                           break;
                   }
               </tr>
        }
    </table>
}
else
{
    <br>
    <p>We don't have any customers yet.</p>
}

